/*reset start++++++++++++++++++++++++++++++*/
@CHARSET "ISO-8859-1";
*, *:after, *:before {
    box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
button, button:active, button:focus {
    outline: none;
}
a {
    text-decoration: none;
}
table {
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
strong {
    font-weight: bold;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}
.clear {
    display: table;
    content: '';
    clear: both;
}
/*reset and++++++++++++++++++++++++++++++*/
/*default*/
body {
    font: 400 16px/19px 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: auto;
}
.logo, .search, .basket, .main_nav, main section:first-child, .crumbs, .products, .top_sales, .main_footer {
    padding: 20px;
}
/*---*/
.container,
.main_header, .logo,
.search, .basket, .main_nav, .section, .crumbs, .products,
.top_sales, .main_footer, main section:first-child {
    border: solid 1px rgba(0, 0, 0, .1);
}
/*---*/
/*default and*/

/*header*/
.main_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo, .basket {
    width: 28%;
}
.search {
    width: 44%;
}
.main_nav {
    display: flex;
    justify-content: space-between;
}
/*header and*/

/*main content*/
main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main section:first-child {
    width: 28%;
}
main section:last-child {
    width: 72%;
}
/*main content and*/

/*media query++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 560px) {
    /*main content*/
    .main_header, main {
        flex-direction: column;
        justify-content: center;
    }
    .main_header > div,
    main section:first-child,
    main section:last-child {
        width: 100%;
    }
    .container {
        padding: 0 5px;
    }
    /*main content and*/
}
/*media query and++++++++++++++++++++++++++++++*/
















